@model GymManagement.Models.Client

<partial name="_ViewHeading" />

<div>
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr />
    @{
        if (Model.ClientPhoto?.Content != null)
        {
            @:<div>
                string imageBase64 = Convert.ToBase64String(Model.ClientPhoto.Content);
                string imageSrc = string.Format("data:" + Model.ClientPhoto.MimeType + ";base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Profile Picture of @Model.Summary" title="Profile Picture of @Model.Summary" class="img-fluid rounded" />
            @:</div><hr />
        }
    }
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneFormatted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneFormatted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipEndDate) -
            @Html.DisplayFor(model => model.MembershipStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeePaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeePaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipType.Type)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" @ViewData["NoSubmit"] value="Delete" class="btn btn-danger" /> |
        <partial name="_BackToList" />
    </form>
</div>
